*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}
body {
    height: 100vh;
    display: flex;
    background: radial-gradient(circle, #3e2a1e 0%, #0a0705 100%);
    gap: 20px;
}
.peopleList {
    width: 300px;
    height: 100%;
    background-color: blue;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;

}
#logo {
    width: 120px;

}
.logo {
    width: 120px;
}


#chatWindow {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;


    border: 4px solid #1a110b;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}
#receiverDetail {
    height: 60px;   
    background-color:  #9f2525;;
    border-bottom: 2px solid #b89b5e;
    display: flex;

}
#messagesWindow {
    display: flex;
    flex-direction: column;
    background-color:#dcd0b6;
    gap: 12px;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;

}
#messagesWindow::-webkit-scrollbar {
    display: none;
}
#messageOption {
    height: 60px;
    background-color:#2b1d14;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #1a110b;
}
#userInput {
    width: 90%;
    height: 65%;
    font-size: 18px;   
    padding: 0 15px;

    margin-top:6px;
    margin-left: 20px;
    background-color:#e8dfc9;
    color: #2b1d14;
    border: 2px solid #1a110b;
    border-radius: 4px;
    font-family: 'Georgia', serif; 
    outline: none;
}
#userInput:focus {
    border-color: #7a1712; 
}
.userMessage {
    align-self: flex-end;
    max-width: 75%;
    word-wrap: break-word;
    padding: 12px 18px;
    background-color: #3e2723;
    color: #dcd0b6;
    border: 2px solid #1a110b;
    border-radius: 8px 0 8px 8px; 
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.4;
    width: fit-content;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.systemResponce{
    align-self: flex-start;
    max-width: 75%;
    word-wrap: break-word;
    padding: 12px 18px;
    background-color: #858180e8;
    color: #dcd0b6;
    border: 2px solid #8a8988;
    border-radius: 0 8px 8px 8px; 
   
    font-size: 16px;
    line-height: 1.4;
    width: fit-content;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);    
}
#profile{
     width:50px;
     border-radius: 50%;
     margin-left: 10px;
     margin-top: 2px;
}
h1 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: 20px;
}
span {
    font-size: 16px;
    color: rgba(165, 150, 137, 0.638);
}

.sideChick {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    margin: 8px;
}
.profileCard {
    display: flex;
    background-color: green;
    width: 100%;
    height: 70px;
    border-radius: 20px;

}
.name-bio{
    font-size: 25px;
    background-color: red;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}
.name {
    background-color: lightblue;
    margin: 0;
}
.bio{
    background-color: purple;
    font-size: 20px;
    margin-top: 10px;
}