*{
    margin: 0;
    padding: 0;
    color: #d1b280;
}
.postWindow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 938px;
    box-sizing: border-box;
    height: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.postWindow.light{
    background-color: #d1b280;
    color: #111111;
    
}

.userDetail {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 5px;

}
#ppf {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.userText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nameRow {
    display: flex;
    align-items: center;
    gap: 8px; 
}
#name {
    font-weight: bold;
    font-size: 16px;
}
#username {
    font-size: 14px;
    color: #a89f91;
    margin-top: 2px;
}

#time {
    font-size: 12px;
    color: #a89f91;
    font-weight: normal;
}
.postCaption {
    height: fit-content;
}
.post {
    border-radius: 10px;
    background-color:#1a1a1a;
    height: fit-content;
    overflow: hidden;
}
.post img {
    max-width: 100%;
    height: auto;
    display: block; 
}
.likes {
    display: flex;
    height: 10%;
    gap: 40px;
    padding: 12px 15px;
    border-top: 1px solid #333;
}
.likes button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #d1b280;
    padding: 0;
    transition: all 0.2 ease;

}
.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#likeBtn:hover {
    color: #8a0303; 
    transform: scale(1.1); 
}

#repostBtn:hover {
    transform: scale(1.1);
    color: #fff;
}

#shareBtn:hover {
    color: #0a8a03;
    transform: scale(1.1);
}
.likes span {
    font-size: 15px;
    color: #a89f91;
    font-family: Arial, Helvetica, sans-serif;
}





#themeChanger {
    width: 100px;
    height: 60px;
    position: absolute;
    right: 15px ;
}
